.woompare-images,
.woompare-filters {
    display      : flex;
    flex-flow    : row nowrap;
    margin-bottom: 10px;
}

.woompare-image-container,
.woompare-filter {
    text-align: center;
    flex   : 1 0 0%;
    width  : 0%;
    padding: 0 5px;
}

.woompare-image {
    max-width: 100%;
    margin: 0 auto;
}

.woompare-table {
    table-layout: fixed;
}

.woompare-alert {
    padding         : 50px 20px;
    background-color: #ededed;
    border-radius   : 3px;
    border-color    : #d1d1d1;
}